@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.overview {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }

  &.user-list {
    list-style: none;
    padding-left: 0;
  }

  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & p,h2 {
    margin: 0.5em 0;
  }

  &.menu {

    flex-wrap: wrap;

    position: fixed;
    top: 0;
    right: 0;

    background-color: $accentDark;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    width: 14em;
    justify-content: center;

    &.menuItem {
      &.toggleable {
        display: none;
      }
      position: relative;
      & p {
        color: #000000;
        //display: inline-block;
        position: relative;
        top:35%;
        transform: translateY(-50%);
        margin-left: 3px;
      }
      & svg {
        margin: 1%;
      }
    }


  }

}

.player {
  cursor: pointer;
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }

  &.selectedContainer {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 20);
  }
  &.lock {
    background: gray;
    border-radius: 3px;
    width: 25px;
    height: 20px;
    margin-top: 60px;
    margin-left: 60px;
    position: relative;
    align-items: center;

  }

  &.lock:before {
    content: "";
    display: block;
    position: absolute;
    border:3px solid gray;
    top: -14px;
    left: 2.3px;
    width: 15px;
    height: 27px;
    align-items: center;

    border-radius: 35px 35px 0 0;
  }

  &.name {
    font-weight: 300;
    margin-left: 5px;
  }

  &.username {
    font-weight: 500;
    color: $accent;
  }

  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}