@import 'styles/theme';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 500px; /* Adjust the maximum width according to your preference */
  margin: 0 auto; /* Center the popup horizontally */
}

.popup-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black; /* Change the typeface color to black */
}

.popup-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: black; /* Change the typeface color to black */
  line-height: 1.5; /* Adjust the line height for readability */
}

.popup-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content strong {
  font-weight: bold; /* Apply bold styling to the enclosed words */
}

.popup-content button:hover {
  background-color: #0056b3;
}
